button{
  background-color: #FF4C8B;
  color:white;
  border: 0px;
  padding:12px;
  font-family: 'Titillium Web', sans-serif;
  font-size:16px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover{
  background-color: rgb(223, 55, 114);
}

